<h1>Crée  ton évènement ici :</h1>

<%= form_tag(events_path, method: 'post', id: "new_event") do %>
<%= label_tag('title', 'Titre', class:"") %>
<%= text_field_tag('title', nil, class:"") %>
<%= label_tag('description', 'Description', class:"") %>
<%= text_area_tag('description', nil, class:"") %>
<%= label_tag('price', 'Prix', class:"") %>
<%= text_field_tag('price', nil, class:"") %>
<%= label_tag('location', 'Lieu', class:"") %>
<%= text_field_tag('location', nil, class:"") %>
<%= label_tag('event', 'Date de début', class:"") %>
<%# <%= text_field_tag('start_date', nil, class:"") %>
<%= datetime_select("event", "start_date") %>
<%= label_tag('duration', 'Durée', class:"") %>
<%= text_field_tag('duration', 0, class:"") %>

<%= submit_tag('Créer', class:"") %>
<% end -%>

<% if @event.errors.any? %>
          <div class="alert alert-warning mt-2" role="alert">
            <p>Nous navons pas réussi à créer d'event pour la (ou les) raison(s) suivante(s) :</p>
              <ul>
                <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
              <p>Merci de réessayer</p>
        <% end %>
